body {
	background-color: #555;
	font-family: sans-serif;
	font-size: 22px;
	color: #eee;
}

form {
	padding: 10px;
}

.response {
  padding: 10px;
}

.response .resp {
	font-weight: bold;
}

.hidden {
	display: none;
}
